.App {
  text-align: center;
}

.nav {
  display: flex;
  align-items:center;
  justify-content: space-around;
  background-color: rgb(118 118 228);
  height: 5vh;
}

.nav > * {
  text-decoration: none;
  color: white;
}

.itemTile {
  width: 30%;
  min-width: 250px;
  margin: 10px auto;

}

.pic {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: auto;
  background-color: rgb(201 189 253);
}

.itemGen{

}

.itemInfo {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: 5px auto auto auto;

}

.qty {
  display: flex;
}

.itemDesc {
  margin: 5px auto auto auto;
    justify-content: center;
    display: flex;
}
#qtyBox {
  margin: 0 2px 0 2px;
  border: 1px solid black;
}

#addCart {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

#shopTileCont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

#shopLinkCont {
  border: 1px solid black;
  background-color: #5f5fef;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

#shopLink {
  color: white;
  text-decoration: none;

}

body {
  background-color: #dfecef;
}

.cartList {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  width: 80%;
  margin: 5px 0 5px auto;
}
